@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&family=Varela+Round&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

body {
    margin: 0px;
}

.page-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
    width: 100vw;
}

.flex-project-title-row {
    font-size: xx-large;
    display: flex;
    justify-content: space-between;
    border-bottom: lightgray 2px solid;
    margin-bottom: 30px;
}

.project-list {
    font-size: large;
}

.project-list details {
    margin-top: 20px;
}

.project-list details span {
    margin-left: 20px;
}

.project-summary {
    font-size: x-large;
}

.content {
    cursor: default;
    padding-right: 50px;
    padding-top: 59px;
}

.projects {
    cursor: default;
    border-right: rgb(200, 200, 200) solid 2px;
    background-color: rgb(222, 222, 222);
    padding-left: 50px;
    padding-top: 50px;
    overflow-y: scroll;
}

.lightgrey {
    color: rgb(226, 226, 226);
}

.button:hover {
   filter: brightness(90%);
   cursor: pointer;
}

.highlighted {
    background-color: lightgray;
    border-radius: 2px;
}

.flex-task-info-title {
    font-size: x-large;
    display: flex;
    justify-content: space-between;
    border-bottom: lightgray 2px solid;
}

.add-button {
    color: #32CD32;
    font-size: 40px;
}

#project-name {
    padding-left: 50px;
}

.content-info {
    margin-top: 50px;
    margin-left: 50px;
    width: 50%;
}

#project-add-btn {
    padding-right: 50px;
}

.input-field-margin {
    margin: 0px;
    margin-top: 50px;
}

.input-field-width {
    width: 300px;
}

.confirm-button {
    width: 100px;
    height: 30px;
    cursor: pointer;
    background-color: lightgreen;
    border: #32CD32 2px solid;
    border-radius: 5px;
}

.confirm-button:hover {
    filter: brightness(90%);
}
